@use 'src/styles/vars';

.cv{
  text-align: justify;
  margin: auto;
  max-width: 70%;
  min-width: 500px;
  padding: 121px 0 1rem;

  p{
    padding:.3rem 0;
  }

  text-align: justify;

  &-info{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem 3rem;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: linear-gradient(181.5deg, vars.$L-bg-dirt, 80%, transparent,81%, transparent);
  }

  &-capacites{

    ul{
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    li{
      min-width: fit-content;
      padding:0.5rem;

      .bi{
        color: rgb(255, 208, 0);
      }
      i:first-child{
        margin-left:0.5rem;
      }
    }
  }

  &-attributs{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    h4{
      font-weight: bold;
    }
    div{
      text-align: left;
      max-width:30%;
    }
    ul{
      list-style: disc;
      margin-left: 1.2rem;
    }
  }

  &-passions{
    span{
      font-weight: bold;
    }
  }

  &-repliques{
    text-align: justify;
    .citation, .comp{
      font-style: italic;
    }
    .citation{
      text-decoration: underline;
    }
  }

}

//Mode nuit

.dark{

  .cv-info{
    background: linear-gradient(181.5deg, vars.$D-bg-purple, 80%, transparent,81%, transparent);
  }



}
